<div class="row">
  <div class="col-xs-10 col-md-7 main">
    {{ form|without('actions', 'footer', 'policy') }}
  </div>
  <div class="col-xs-10 col-md-3 sidebar">
    {{ form.footer }}
    {{ form.actions }}
    {{ form.policy }}
  </div>
</div>
