{#
/**
 * @file
 * Template for the giftcard redemption form.
 *
 * Available variables:
 * - form: The form. Contains the currently applied giftcards in form.giftcards,
 *         each containing a code and a remove_button.
 *         For example: form.giftcards.0.code.
 *
 * @ingroup themeable
 */
#}
{% if form.giftcards|length %}
  <div class="giftcard-redemption-form__giftcards">
      {% for key, giftcard in form.giftcards|filter((item, key) => key|first != '#') %}
        <div class="item">
          <div class="item__code"> {{ giftcard.code }} </div>
          <div class="item__action"> {{ giftcard.remove_button }} </div>
        </div>
      {% endfor %}
  </div>
{% endif %}

{{ form|without('giftcards') }}
