<div class="row">
  <div class="col-xs-10 col-md-10 col-lg-10 col-xl-7 col-no-gutter main">
    {{ form|without('actions', 'footer', 'policy') }}
  </div>
  <div class="col-xs-10 col-md-10 col-lg-10 col-xl-3 sidebar">
    {{ form.footer }}
    {{ form.actions }}
    {{ form.policy }}
  </div>
</div>
