<div class="block block-custom block--profcounter">

    <div class="row">
      <div class="col-xs-10 col-md-10 col-lg-10 col-xl">
        <div class="content">
          <div class="digits">01</div>
          <h3>Для регистрации студий и салонов красоты необходимо:</h3>
          <div class="text text-formatted">
            <ul>
              <li>Приехать к нам в любой магазин.</li>
              <li>Предъявить реквизиты организации, свидетельства ОГРН и ИНН/КПП.</li>
              <li>Ссылка на сайт салона (при наличии).</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-md-10 col-lg-10 col-xl">
        <div class="content">
          <div class="digits">02</div>
          <h3>Для регистрации мастеров индустрии красоты необходимо:</h3>
          <div class="text text-formatted">
            <ul>
              <li>Приехать к нам в любой магазин.</li>
              <li>Предъявить документ о профессиональном образовании и паспорт.</li>
              <li>Заполнить анкету.</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-xs-10 col-md-10 col-lg-10 col-xl">
        <div class="content">
          <div class="digits">03</div>
          <h3>Для получения статуса профессионала в интернет-магазине «Галерея косметики» Вам необходимо:</h3>
          <div class="text text-formatted">
            <ul>
              <li>Пройти регистрацию на нашем сайте.</li>
              <li>После регистрации Вам будет дана возможность совершать покупки в нашем интернет-магазине по специальным ценам.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

</div>
