<div class="block block-custom block-joy-premium">

      <div class="row">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-4 col-dt-4 col-wd-4">
          <div class="content">
            <h2>Наши ценности</h2>
            <div class="text">
              <p>JOY&nbsp;PREMIUM&nbsp;— это территория любви, гармонии и&nbsp;наслаждения. Здесь уход за телом становится эстетическим ритуалом и&nbsp;рождает союз с&nbsp;искусством быть собой. Мы создаем ароматы, которые не&nbsp;позволят слиться с&nbsp;толпой и&nbsp;оставят шлейф Вашей индивидуальности.</p>
              <p>Индивидуальность вместо узнаваемости.<br>Ваш аромат не&nbsp;должен кричать, он&nbsp;должен быть едва уловимым, словно тихий шёпот: «Это&nbsp;она. Это&nbsp;он.» Это&nbsp;уникальное и&nbsp;особенное состояние!</p>
              <p>Безопасность как основа.<br>Мы&nbsp;используем ингредиенты высочайшего качества. Продукты прошли все этапы проверки на&nbsp;безопасность и&nbsp;эффективность.</p>
              <p>Интрига и&nbsp;гармония.<br>Наши ароматы&nbsp;— это эксклюзивные, неповторимые загадочные абстракции. Они не&nbsp;ассоциируются с&nbsp;конкретными нотами, а&nbsp;создают гармоничный цельный образ, который погружает в&nbsp;состояние блаженства, оставляя шлейф загадочности и&nbsp;неповторимости. Окружающие хотят Вас разгадывать снова и&nbsp;снова.</p>
              <p>Ваша уникальность&nbsp;— наш главный приоритет!</p>
              <p>Love&nbsp;Enjoy! Любите и&nbsp;наслаждайтесь!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6 col-no-gutter first-lp">
          <div class="image">
            <img src="/sites/default/files/images/blocks/luxury.png" alt="JOY PREMIUM - премиальный бренд">
          </div>
        </div>
      </div>

</div>
