<div class="block block-custom block--profconditions">

  <div class="row">
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6">
      <div class="content">
        <h2>Условия пользования картой клуба профессионалов</h2>
        <div class="text text-formatted">
          <ul>
            <li>При совершении покупки в розничных магазинах «Галерея косметики» по клубной программе профессионалов, необходимо предъявить документ, удостоверяющий личность того, на кого оформлена карта.</li>
            <li>Карта профессионала не суммируется с бонусной программой.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4 col-no-gutter">
      <div class="content content--right">
        <div class="row--1 padding-side">
          <div class="col--1">
            <div class="mountain"></div>
          </div>
          <div class="col--2">
            <h2>Наша миссия</h2>
            <div class="text">
              <p>Обеспечивать профессиональных покупателей самым широким выбором салонной косметики, техники и одноразовой продукции!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
