<div class="block block-custom block-our-destiny">

      <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
          <div class="content">
            <h2>Наше предназначение&nbsp;— твое проявление</h2>
            <div class="text">
              <p>JOY&nbsp;PREMIUM&nbsp;— часть личности, стиля и&nbsp;статуса. Наша продукция создана для&nbsp;тех, кто ценит свою индивидуальность. Мы&nbsp;предлагаем изысканные ароматы и&nbsp;качественные средства ухода. Наши продукты содержат натуральные компоненты, обеспечивая комфорт и&nbsp;удобство в&nbsp;использовании.</p>
              <p>С косметикой JOY PREMIUM вы&nbsp;забудете про&nbsp;сухость и&nbsp;стянутость кожи. И&nbsp;интенсивно увлажняющие формулы с&nbsp;растительным маслами и&nbsp;активными компонентами глубоко питают кожу и&nbsp;восстанавливают её&nbsp;природный баланс.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6 col-no-gutter">
          <div class="image">
            <img src="/sites/default/files/images/blocks/our-destiny.png" alt="JOY PREMIUM - наше предназначение">
          </div>
        </div>
      </div>

</div>
