<div class="block block-custom block-luxury-symbol">

      <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
          <div class="content">
            <h2>Символ изысканности и&nbsp;сдержанной роскоши</h2>
            <div class="text">
              <p>Бренд JOY&nbsp;PREMIUM создает инновационные средства по&nbsp;уходу за&nbsp;кожей и&nbsp;волосами, черпая вдохновение в&nbsp;природе. Истинная роскошь заключается в&nbsp;свободе самовыражения без&nbsp;компромиссов.</p>
              <p>Философия бренда JOY&nbsp;PREMIUM&nbsp;– это ода&nbsp;вашей индивидуальности. Селективная косметика JOY&nbsp;PREMIUM создана для&nbsp;уникальной, неординарной личности, готовой к&nbsp;экспериментам.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6 col-no-gutter first-xl">
          <div class="image">
            <img src="/sites/default/files/images/blocks/luxury.png" alt="JOY PREMIUM - cимвол роскоши">
          </div>
        </div>
      </div>

</div>
