<div class="block block-custom block--profjoin">

  <div class="row">
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-7">
      <div class="content">
        <h2>Как вступить в клуб профессионалов</h2>
        <div class="text">
          <p>Получить профессиональную клубную карту «Галерея косметики» могут только специалисты индустрии красоты: студии и салоны красоты, а также косметологи, стилисты, визажисты, мастера ногтевого сервиса и другие профессионалы. Вступление в клуб остается на усмотрение администрации.</p>
        </div>
      </div>
    </div>
  </div>

</div>
