<div class="block block-custom block-advantages-counter">

    <div class="row">
      <div class="col-xs-2">
        <div class="content">
          <div class="digits">01</div>
          <div class="text">Создаем инновационные средства по&nbsp;уходу за&nbsp;кожей и&nbsp;волосами</div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="content">
          <div class="digits">02</div>
          <div class="text">Уделяем особое внимание выбору материалов, цветовой гамме, форме и&nbsp;текстуре</div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="content">
          <div class="digits">03</div>
          <div class="text">Наши продукты содержат только натуральные компоненты</div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="content">
          <div class="digits">04</div>
          <div class="text">Минималистичный дизайн флаконов лаконично впишется в&nbsp;любой интерьер</div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="content">
          <div class="digits">05</div>
          <div class="text">От упаковки до&nbsp;самого подарка&nbsp;– все должно быть идеально...</div>
        </div>
      </div>
    </div>

</div>
