<div class="block block-custom block-expression">

      <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
          <div class="content">
            <h2>Аромат как личное высказывание</h2>
            <div class="text">
              <p>Палитра ароматов JOY&nbsp;PREMIUM никого не&nbsp;оставит равнодушным и&nbsp;может впечатлить даже самых искушённых гурманов. Утонченные, выразительные, многослойные&nbsp;— эти ароматы звучат по-разному, раскрывая индивидуальность обладателя. Парфюмерная коллекция бренда&nbsp;— это обонятельное исследование мира путешествий, искусства и&nbsp;свободы.</p>
              <p>Ароматы JOY&nbsp;PREMIUM&nbsp;— это гармония восточной чувственности и&nbsp;западной утончённости, отражение индивидуальности и&nbsp;внутреннего мира современной творческой личности. Каждый флакон хранит не&nbsp;просто запах, а&nbsp;историю, настроение, образ&nbsp;— и&nbsp;дарит возможность выразить себя без&nbsp;слов. А&nbsp;каждая процедура с&nbsp;применением косметических средств JOY&nbsp;PREMIUM превращается в&nbsp;уникальное личное мероприятие, момент, созданный специально для вас.</p>
              <p>Это больше, чем уход&nbsp;— это способ замедлиться, прислушаться к&nbsp;себе и&nbsp;подарить телу и&nbsp;чувствам внимание, которого так не&nbsp;хватает в&nbsp;повседневной спешке. JOY&nbsp;PREMIUM&nbsp;— это удовольствие в&nbsp;каждой капле: от&nbsp;роскошной текстуры до&nbsp;пленительного аромата. Это красота как&nbsp;состояние. И&nbsp;оно начинается здесь.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6 col-no-gutter">
          <div class="image">
            <img src="/sites/default/files/images/blocks/our-destiny.png" alt="JOY PREMIUM - личное высказывание'">
          </div>
        </div>
      </div>

</div>
