<div class="block block-custom block-professionals">

  <div class="row">
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
      <div class="content">
        <div class="text">
          <h2>Информация для профессионалов</h2>
          <p>Уважаемые профессионалы индустрии красоты, обращаем ваше внимание, что указанные цены, условия доставки и акции на нашем сайте действительны для розничных покупателей. Если вы являетесь профессионалом или оптовым покупателем, то для вас у нас есть Клуб Профессионалов. Мы знаем, как много надо потратить сил, времени и нервов, чтобы найти нужных поставщиков, решить вопросы с доставкой и как это бывает невыгодно с финансовой точки зрения.</p>
          <p>Мы избавим Вас от этих проблем!</p>
          <p>В наших магазинах вся необходимая для вашей деятельности продукция находится в одном месте. При покупке в интернете ваша посылка без ограничений по весу будет доставлена удобным для вас способом в удобное для вас время и место. Мы отвечаем за качество всей нашей продукции, которая имеет необходимые сертификаты, и готовы предоставить их по первому требованию. И, самое главное, «Галерея косметики» предлагает самые выгодные условия сотрудничества: цены дистрибьютеров или специальные цены на продукцию для профессиональных клиентов!</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6 col-no-gutter first-xl">
      <div class="image">
        <img src="/sites/default/files/images/blocks/professionals.png" alt="JOY PREMIUM - профессионалам">
      </div>
    </div>
  </div>

</div>
