<div class="block block-custom block-luxury-symbol">

  <div class="screen-wide">
      <div class="row-f">
        <div class="col-f-6">
          <div class="content">
            <div class="image">
              <img src="/sites/default/files/images/blocks/luxury-symbol.png" alt="JOY PREMIUM - cимвол роскоши">
            </div>
          </div>
        </div>
        <div class="col-f-4">
          <div class="content">
            <h2>Символ изысканности и&nbsp;сдержанной роскоши</h2>
            <div class="text">
              <p>Бренд JOY&nbsp;PREMIUM создает инновационные средства по&nbsp;уходу за&nbsp;кожей и&nbsp;волосами, черпая вдохновение в&nbsp;природе. Истинная роскошь заключается в&nbsp;свободе самовыражения без&nbsp;компромиссов.</p>
              <p>Философия бренда JOY&nbsp;PREMIUM&nbsp;– это ода&nbsp;вашей индивидуальности. Селективная косметика JOY&nbsp;PREMIUM создана для&nbsp;уникальной, неординарной личности, готовой к&nbsp;экспериментам.</p>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
