<div class="block block-custom block-joy-premium">

      <div class="row">
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
          <div class="content">
            <h2>JOY&nbsp;PREMIUM</h2>
            <div class="text">
              <p>Бренд JOY&nbsp;PREMIUM создает инновационные средства по&nbsp;уходу за&nbsp;кожей и&nbsp;волосами, черпая вдохновение в&nbsp;природе. Истинная роскошь заключается в&nbsp;свободе самовыражения без&nbsp;компромиссов.</p>
              <p>Философия бренда JOY&nbsp;PREMIUM&nbsp;– это ода вашей индивидуальности. Селективная косметика создана для&nbsp;уникальной, неординарной личности, готовой к&nbsp;экспериментам.</p>
              <p>JOY&nbsp;PREMIUM создан, чтобы работать с&nbsp;кожей, а&nbsp;не&nbsp;маскировать её. Экстракты магнолии, орхидеи, масла&nbsp;ши и&nbsp;бабассу&nbsp;— подарят долгожданное восстановление. Лосьоны с&nbsp;изысканной текстурой эмульсии содержат активные компоненты премиального качества, мгновенно впитываются и&nbsp;эффективно работают. Кремы для рук JOY&nbsp;PREMIUM увлажняют, не&nbsp;оставляя липкости, питают, не&nbsp;перегружая, сохраняют молодость ваших рук, гладкость и&nbsp;шелковистость кожи в&nbsp;любое время года.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6 col-no-gutter first-xl">
          <div class="image">
            <img src="/sites/default/files/images/blocks/luxury.png" alt="JOY PREMIUM - премиальный бренд">
          </div>
        </div>
      </div>

</div>
