<div class="block block-custom block-training">

  <div class="row">
    <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-4 col-dt-4 col-wd-4">
      <div class="content">
        <div class="text">
          <p>Текст заглушка! Нужно заменить.</p>
          <p>Лорем Ипсум — это тип текста-заполнителя, обычно используемый в дизайне и издательском деле для заполнения пространства на странице и создания впечатления о том, как будет выглядеть конечный контент. Лорем Ипсум на русском языке происходит от латинского текста римского философа Цицерона и используется с 1960-х годов. Текст бессмысленный и не несет никакого конкретного смысла, позволяя дизайнерам сосредоточиться на макете и визуальных элементах, не отвлекаясь на значимый контент.</p>
          <p>Текст-заполнитель имеет решающее значение для дизайнеров, чтобы визуализировать макеты, не отвлекаясь от реального контента. Он позволяет сосредоточиться на эстетике и структуре, обеспечивая сбалансированную презентацию. Чистый макет повышает креативность и облегчает эксперименты с типографикой, цветами и интервалами. Эта практика оптимизирует процесс проектирования и помогает заинтересованным сторонам представить потенциал проекта.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6 col-no-gutter first-lp">
      <div class="image">
        <img src="/sites/default/files/images/blocks/training.png" alt="JOY PREMIUM - обучение">
      </div>
    </div>
  </div>

</div>
