{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="row border-t">
  <div class="col-xs-10 col-md-6">
    <div class="text">
      <div class="h2">Подпишитесь на новости</div>
      <p>И будете первыми узнавать о новинках, акциях и спецпредложениях!</p>
    </div>
  </div>
  <div class="col-xs-10 col-md-4">
    <div class="form">
      <div class="form-items-inline">
        {{ form.elements }}{{ form.actions }}
      </div>
      {{ form.fz152_agreement }}
    </div>
  </div>
</div>
