{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="row border-t">
  <div class="col-sm-10 col-pd-5 col-lp-6 col-dt-6 col-wd-6">
    <div class="text">
      <div class="h2">Подпишитесь на&nbsp;новости</div>
      <p>И будете первыми узнавать о&nbsp;новинках, акциях и&nbsp;спецпредложениях!</p>
    </div>
  </div>
  <div class="col-sm-10 col-pd-5 col-lp-4 col-dt-4 col-wd-4">
    <div class="form">
      <div class="form-items-inline">
        {{ form.elements.email }}{{ form.elements.actions }}
      </div>
      {{ form.elements.fz152_agreement }}
      {{ form|without('elements') }}
    </div>
  </div>
</div>
