@import "variables";                                                            // чтобы переменные не подсвечивались

@import url($font-url2);

*,
html * {
  scrollbar-color: $brand-cocoa #f1f1f1;
}

html {
  font-size: 12px;
  @media #{$smart}    { font-size: 14px; }
  @media #{$pad}      { font-size: 16px; }
  @media #{$tablet}   { font-size: 16px; }
  @media #{$laptop}   { font-size: 16px; }
}
h1, h2, h3, h4 {
  font-family: $font-name2; font-weight: 400; text-transform: uppercase;
}

a { color: inherit; }

.button {
  font-family: $font-name2; font-weight: 400; text-transform: uppercase;
}

.badge {
  background: $brand-cocoa;
}

#back-to-top {
  border: .5rem solid #{$brand-primary + '85'};

  .icon {
    color: $brand-primary; line-height: 0;
  }
}
