@import "variables";                                                            // чтобы переменные не подсвечивались

@import url($font-url2);

html {
  font-size: 12px;
  @media #{$smart}    { font-size: 14px; }
  @media #{$pad}      { font-size: 16px; }
  @media #{$tablet}   { font-size: 16px; }
  @media #{$laptop}   { font-size: 16px; }
}
h1, h2, h3, h4 {
  font-family: $font-name2; font-weight: 400; text-transform: uppercase;
}

.row-f {
  display: flex;
}
.col-f-2 { flex-basis: 20%; max-width: 20%; }
.col-f-4 { flex-basis: 40%; max-width: 40%; }
.col-f-6 { flex-basis: 60%; max-width: 60%; }
