@import "variables";                                                            // чтобы переменные не подсвечивались

.block {
  .section-title {
    display: flex; justify-content: space-between; align-items: center;
    padding: 2rem 0;
    h2 { margin: 0; }
  }
}

.block-page-title-block {
  border-bottom: 1px solid $gray-lightest;

  .page-title {
    @include col('xs', 10, $gutter-xs);
    @include col('md', 10, $gutter-md);
    @include col('lg', 10, $gutter-lg);
    @include col('xl', 10, $gutter-xl);
  }

  @include row('true', $gutter-xs);
  @media #{$pad} { @include row('true', $gutter-md); }
  @media #{$tablet} { @include row('true', $gutter-lg); }
  @media #{$laptop} { @include row('true', $gutter-xl); }
}

.block-views {
  fieldset {
    margin: 2rem 0 0 0;
    &.form-item {
      border: none;
      float: none;
      padding: 0;
      width: 233px;
    }
    .fieldset-legend {
      color: $text-color; font-family: $font-name2; font-size: $font-size-large;
    }
    .fieldset-wrapper {
      margin-top: 1rem;
    }
  }
  .form-actions {
    float: left;
    margin-top: 2rem;
    width: 100%;

    input {
      margin: 0 0 1rem 0;
      &:last-child { margin-bottom: 0; }
    }
  }
}

.block-advantages-counter {
  .row {
    border-top: 1px solid $gray-lightest;
  }
  .col-xs-10 {
    border-bottom: 1px solid $gray-lightest;
    display: flex; justify-content: center; align-items: center;
    &:last-child { border-bottom: none; }
  }
  .content { padding: 1rem 0; }
  .digits {
    color: $brand-cocoa; font-family: $font-name2; font-size: $font-size-h3;
  }
  .text { margin: 1rem 0 .5rem; }

  @media #{$pad}  {
    .col-xs-10 { border-right: 1px solid $gray-lightest; }
  }
  @media #{$laptop}  {
    .col-xs-10 {
      border-bottom: none;
      height: 150px;
    }
  }
}

.block-luxury-symbol,
.block-our-destiny,
.block-joy-premium,
.block-expression {
  h2 { margin-top: 0;}
  .content {
    margin: 0 auto; padding: 2rem 0;
  }
  .image {
    height: 100%; min-height: 300px;
    img {
      object-fit: cover;
      height: 100%; width: 100%;
    }
  }
  .text {
    line-height: 1.5;
    margin: 1rem 0 .5rem;
  }
}
.block-luxury-symbol,
.block-our-destiny,
.block-expression {
  .row { border-top: 1px solid $gray-lightest; }
}



.block-product-categories {
  .content .col-xs-10 {
    justify-content: center;
    padding: 40px 0 50px;
    &:not(:last-child) { border-right: 1px solid $gray-lightest; }
  }
  .category-card {
    color: $text-color;
    margin: 0 auto;
    width: 235px;
    transition: all 0.3s;
    &:hover { transform: translateY(-4px); }

    &__more {
      i.picon {
        width: 60px; height: 10px;
        &::before { background-color: $brand-cocoa; }
      }
    }
  }
}

.block-views-blockaromas-block-1 {
  .views-field-field-image {
    overflow: hidden;
    img {
      transition: all 0.5s;
      min-width: 100%;
    }
    &:hover img { transform: scale(1.02); }
  }
  .views-field-name {
    font-size: $font-size-h4;
    height: 60px;
    padding-top: 1rem;
    .field-content {
      display: block;
      transition: all 0.3s;
      &:hover { transform: translateY(-4px); }
      a {
        color: inherit; font-family: $font-name2; text-transform: uppercase;
      }
    }

    @include padding-side();
  }

  @media #{$laptop} {
    .views-field-name {
      font-size: $font-size-h3;
      height: 100px;
      padding-top: 2rem;
    }
  }
}

.block-user-links-block,
.block-info-links-block {
  ul {
    @include row('true', $gutter-xs);
    @media #{$pad} { @include row('true', $gutter-md); }
    @media #{$tablet} { @include row('true', $gutter-lg); }
    @media #{$laptop} { @include row('true', $gutter-xl); }
  }
  li {
    border-bottom: 1px solid $gray-lightest;
    flex: 100%;
    font-size: $font-size-h3; font-family: $font-name2; text-transform: uppercase; text-align: center;
    list-style: none;
    margin: 0;

    @include col('xs', 10, $gutter-xs);
    @include col('md', 10, $gutter-md);
    @include col('lg', 10, $gutter-lg);
    @include col('xl', 10, $gutter-xl);

    &.item--current {
      background: $brand-green;
      color: #fff;
    }

    a, span {
      color: inherit;
      display: inline-block;
      padding-top: 1rem; padding-bottom: 1rem;
    }

    @media #{$tablet} {
      padding-top: 2rem; padding-bottom: 2rem;
    }
    @media #{$laptop} {
      text-align: left;
    }
  }
}
