@import "variables";                                                            // чтобы переменные не подсвечивались

.block {
  .section-title {
    display: flex; justify-content: space-between; align-items: center;
    padding: 2rem 0;
    h2 { margin: 0; }
    &__inner {

    }
  }
}

.block-page-title-block {
  border-bottom: 1px solid $gray-lightest;

  @include row('true', $gutter-lg);

  .page-title {
    @include col('xs', 10, $gutter-lg);
  }
}

.block-views {
  fieldset {
    margin: 2rem 0 0 0;
    &.form-item {
      border: none;
      float: none;
      padding: 0;
      width: 233px;
    }
    .fieldset-legend {
      color: $text-color; font-family: $font-name2; font-size: $font-size-large;
    }
    .fieldset-wrapper {
      margin-top: 1rem;
    }
  }
  .form-actions {
    input[name="reset"] {
      @include btn();
      @include button-variant($btn-default-color, transparent, $btn-default-color, $btn-default-h-color, transparent, $btn-default-h-color);
      font-family: $font-name2; text-transform: uppercase;
      margin: 2rem 0 0 0;
      width: 233px;
    }
  }
}

.block-advantages-counter {
  .row {
    border-top: 1px solid $gray-lightest;
  }
  .col-xs-2 {
    display: flex; justify-content: center; align-items: center;
    height: 150px;
    &:not(:last-child) { border-right: 1px solid $gray-lightest; }
  }
  .content {
    margin: 0 auto;
    width: 235px;
  }
  .digits {
    color: $brand-cocoa; font-family: $font-name2; font-size: $font-size-h3;
  }
  .text { margin: 1rem 0 .5rem; }
}

.block-luxury-symbol,
.block-our-destiny {
  .row { border-top: 1px solid $gray-lightest; }
  .col-xs-4 {
    display: flex; justify-content: center; align-items: center;
    .content {
      margin: 0 auto;
      width: 620px;
    }
  }
  .text { margin: 1rem 0 .5rem; }
}

.block-product-categories {
  .content .col-xs-10 {
    justify-content: center;
    padding: 40px 0 50px;
    &:not(:last-child) { border-right: 1px solid $gray-lightest; }
  }
  .category-card {
    color: $text-color;
    margin: 0 auto;
    width: 235px;
    transition: all 0.3s;
    &:hover { transform: translateY(-4px); }
    &__more {
      color: $brand-cocoa;
    }
  }
}

.block-views-blockaromas-block-1 {
  .views-field-field-image {
    overflow: hidden;
    img {
      transition: all 0.5s;
      min-width: 100%;
    }
    &:hover img { transform: scale(1.02); }
  }
  .views-field-name {
    padding: 30px 0;
    height: 100px;
    .field-content {
      display: block;
      margin: 0 auto;
      width: 235px;
      transition: all 0.3s;
      &:hover { transform: translateY(-4px); }
      a {
        color: inherit; font-family: $font-name2; font-size: $font-size-h3; text-transform: uppercase;
      }
    }
  }
}

.block-user-links-block,
.block-info-links-block {
  ul {
    @include row('true', $gutter-md);
  }
  li {
    border-bottom: 1px solid $gray-lightest;
    flex: 100%;
    font-size: $font-size-h3; font-family: $font-name2; text-transform: uppercase;
    list-style: none;
    margin: 0;

    &.item--current {
      background: $brand-green;
      color: #fff;
    }

    a, span {
      color: inherit;
      display: inline-block;
      padding: 2rem $gutter-md;
    }
  }
}
