@import "variables";                                                            // чтобы переменные не подсвечивались

.block {
  &:first-of-type > h2 { margin-top: 0; }
  .section-title {
    display: flex; justify-content: space-between; align-items: center;
    padding: 2rem 0;
    h2 { margin: 0; }
  }
}

.block-page-title-block {
  border-bottom: 1px solid $gray-lightest;

  .page-title {
    @include col('sm', 10, $gutter-sm);
    @include col('pd', 10, $gutter-pd);
    @include col('tb', 10, $gutter-tb);
    @include col('lp', 10, $gutter-lp);
    @include col('dt', 10, $gutter-dt);
    @include col('wd', 10, $gutter-wd);
  }

                        @include row('true', $gutter-sm);
  @media #{$pad}      { @include row('true', $gutter-pd); }
  @media #{$tablet}   { @include row('true', $gutter-tb); }
  @media #{$laptop}   { @include row('true', $gutter-lp); }
  @media #{$desktop}  { @include row('true', $gutter-dt); }
  @media #{$wide}     { @include row('true', $gutter-wd); }
}

.block-views {
  fieldset {
    margin: 2rem 0 0 0;
    &.form-item {
      border: none;
      float: none;
      padding: 0;
      width: 233px;
    }
    .fieldset-legend {
      color: $text-color; font-family: $font-name2; font-size: $font-size-large;
    }
    .fieldset-wrapper {
      margin-top: 1rem;
    }
  }
  .form-actions {
    float: left;
    margin: 2rem 0 0 0;
    width: 100%;

    input {
      margin: 0 0 1rem 0;
      &:last-child { margin-bottom: 0; }
    }
  }
}

.block-advantages-counter {
  .row {
    border-top: 1px solid $gray-lightest;
  }
  .col-sm-10 {
    border-bottom: 1px solid $gray-lightest;
    display: flex;
    &:last-child { border-bottom: none; }
  }
  .content { padding: 1rem 0; }
  .digits {
    color: $brand-cocoa; font-family: $font-name2; font-size: $font-size-h3;
  }
  .text { margin: 1rem 0 .5rem; }

  @media #{$pad}  {
    .col-sm-10:first-child { border-left: 1px solid $gray-lightest; }
    .col-sm-10 { border-right: 1px solid $gray-lightest; }
  }
  @media #{$laptop}  {
    .col-sm-10 {
      border-bottom: none;
    }
    .content { padding: 1.5rem 0; }
  }
  @media #{$desktop}  {
    .col-sm-10 {
      height: 150px;
    }
  }
}

.block-luxury-symbol,
.block-our-destiny,
.block-catalog-hair,
.block-joy-premium,
.block-training,
.block--professionals,
.block--profconditions,
.block--profjoin,
.block-expression {
  h2 { margin-top: 0;}
  .content {
    margin: 0 auto; padding: 2rem 0;
  }
  .image {
    height: 100%; min-height: 300px;
    img {
      object-fit: cover;
      height: 100%; width: 100%;
    }
  }
  .text {
    line-height: 1.5;
    margin: 1rem 0 .5rem;
  }
}
.block-luxury-symbol,
.block-our-destiny,
.block-catalog-hair,
.block--professionals,
.block--profjoin,
.block-expression {
  .row { border-top: 1px solid $gray-lightest; }
}

.block-luxury-symbol,
.block-joy-premium,
.block-expression,
.block-our-destiny,
.block-catalog-hair {
  .content {
    align-content: center;
    height: 100%;
  }
}

.block--profconditions {
  .row--1 { display: flex; }
  .col--1 { flex: 0 0 70px; }
  .col--2 {
    flex: auto;
    padding-left: 2rem;
  }
  .content--right {
    background-color: $brand-green;
    color: #fff;
    height: 100%;
  }
  .mountain {
    width: 70px;
    height: 70px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2270%22%20height%3D%2270%22%20viewBox%3D%220%200%2070%2070%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Ccircle%20opacity%3D%220.3%22%20cx%3D%2235%22%20cy%3D%2235%22%20r%3D%2234.5%22%20stroke%3D%22white%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M34.7108 16.3437C34.6092 16.3906 34.4999 16.5469 34.453 16.7109C34.4061 16.8828 34.3749 18.7969 34.3749 21.6875V26.3906L34.1405 26.4844C33.6952 26.6641 33.4764 27.0547 32.4686 29.4219C31.9139 30.7031 31.4295 31.8203 31.3905 31.8984C31.328 32.0156 31.2499 31.9766 30.7108 31.5547C30.078 31.0703 29.703 30.9375 29.2655 31.0469C28.742 31.1797 28.6952 31.2656 25.1014 38.4844L21.6405 45.4531L21.117 45.7812C20.2811 46.3047 19.8045 46.6953 19.4608 47.1328C19.2889 47.3594 18.5545 48.6641 17.828 50.0391L16.4999 52.5391L15.8983 52.5781C15.3905 52.6094 15.2733 52.6484 15.1483 52.8047C14.9452 53.0547 14.9608 53.3281 15.1952 53.5547L15.3827 53.75H34.9999H54.617L54.8045 53.5547C55.0545 53.3125 55.0545 53.0156 54.8045 52.7734C54.6405 52.6016 54.5467 52.5781 54.0467 52.5781L53.4764 52.5703L49.1014 46C46.6952 42.3906 44.5936 39.2969 44.4295 39.1328C44.2655 38.9687 43.9999 38.7969 43.8436 38.7422C43.3905 38.5859 42.742 38.6172 42.3749 38.8047L42.0624 38.9766L39.328 33.0234C37.8045 29.6875 36.5077 26.9609 36.3905 26.8281C36.2655 26.6875 36.0467 26.5234 35.8983 26.4531L35.6249 26.3203V24.0625V21.7969H38.1952C39.6092 21.7969 40.828 21.7734 40.8983 21.75C40.9608 21.7187 41.0702 21.6016 41.1327 21.4766C41.2811 21.1953 41.2264 21.0547 40.617 20.1406C40.3514 19.7422 40.1327 19.3828 40.1327 19.3359C40.1327 19.2969 40.3827 18.875 40.6874 18.4141C40.9999 17.9453 41.2499 17.5312 41.2499 17.4922C41.2499 17.3359 41.0155 16.9687 40.8983 16.9219C40.828 16.8984 39.6014 16.875 38.1639 16.875H35.5702L35.5233 16.6562C35.492 16.5234 35.3983 16.3984 35.2733 16.3437C35.0311 16.2344 34.9374 16.2344 34.7108 16.3437ZM39.1795 18.5703C38.953 18.9062 38.828 19.1875 38.828 19.3359C38.828 19.4844 38.953 19.7656 39.1795 20.1016L39.5311 20.625H37.578H35.6249V19.3359V18.0469H37.578H39.5311L39.1795 18.5703ZM35.4842 27.5937C35.6405 27.7812 39.5311 36.1953 39.5311 36.3672C39.5311 36.4766 39.0155 36.9687 38.7499 37.1094C38.5077 37.2422 38.2655 37.1562 37.8592 36.8047C37.4061 36.4141 37.0545 36.2969 36.4452 36.3437C35.8749 36.3906 35.4139 36.6484 35.1639 37.0625C35.0702 37.2109 34.7655 37.875 34.492 38.5312C34.2186 39.1875 33.9217 39.8047 33.8358 39.8984C33.6717 40.0859 33.367 40.1328 33.1249 40C33.0467 39.9609 32.453 39.1875 31.8045 38.2969L30.6327 36.6719L30.7655 36.3047C30.8905 35.9531 30.8905 35.9375 30.7342 35.7266C30.5155 35.4297 30.1014 35.3906 29.8749 35.6406C29.7811 35.7422 29.1952 37.0312 28.5624 38.5156C27.9217 40 27.2889 41.3906 27.1483 41.6094C26.9999 41.8359 26.7108 42.1641 26.5077 42.3359C26.1327 42.6641 23.6639 44.2422 23.617 44.1875C23.5936 44.1641 29.492 32.2812 29.5624 32.2031C29.5858 32.1875 29.8827 32.3906 30.2186 32.6562L30.8358 33.1484L30.7186 33.5312C30.6014 33.8906 30.6014 33.9141 30.7577 34.125C30.9686 34.4062 31.3905 34.4531 31.6014 34.2187C31.6795 34.125 32.3592 32.6406 33.0936 30.9141C33.8358 29.1875 34.5077 27.6953 34.5936 27.5937C34.703 27.4766 34.8436 27.4219 35.0389 27.4219C35.2342 27.4219 35.3749 27.4766 35.4842 27.5937ZM37.1561 37.7422C37.617 38.2344 38.3514 38.4531 38.9608 38.2891C39.1405 38.2422 39.4686 38.0547 39.6874 37.8828C39.9061 37.7109 40.1014 37.5781 40.117 37.5937C40.1327 37.6094 40.3983 38.1641 40.703 38.8281L41.2577 40.0391L41.0467 40.4453C40.7889 40.9141 40.8358 41.2031 41.1874 41.3984C41.5545 41.6094 41.7733 41.4531 42.2655 40.6641C42.7967 39.8047 43.1327 39.6094 43.5624 39.8984C43.6092 39.9375 45.5311 42.7891 47.8436 46.25L52.0311 52.5391L45.6561 52.5625C42.1561 52.5703 36.4295 52.5703 32.9452 52.5625L26.6092 52.5391L27.703 51.6016C28.9842 50.4922 29.7577 49.9609 30.5545 49.6328C30.867 49.5 32.4139 48.9297 33.9842 48.375C35.5545 47.8125 37.0155 47.2812 37.2264 47.1797C38.0077 46.8359 38.6327 46.3359 39.1405 45.6641C39.6327 45 40.6327 43.3437 40.6795 43.1094C40.7811 42.6094 40.0624 42.2891 39.7108 42.6719C39.617 42.7734 39.2577 43.3281 38.8983 43.9062C38.1639 45.0937 37.6717 45.6328 36.992 45.9844C36.7342 46.125 35.117 46.7344 33.3983 47.3437C31.6795 47.9531 30.0624 48.5547 29.7967 48.6797C28.9608 49.0781 28.1874 49.6328 26.453 51.125L24.7499 52.5781H21.2733H17.7967L18.1092 52.0078C18.2733 51.7031 18.828 50.6641 19.3358 49.7031C20.0155 48.4219 20.3514 47.8672 20.6092 47.6094C20.8124 47.4141 22.2186 46.4844 23.9374 45.4141C28.0467 42.8594 27.9374 42.9766 29.3358 39.6875C29.7108 38.8047 30.0389 38.0625 30.0702 38.0234C30.1014 37.9922 30.5545 38.5625 31.078 39.2891C32.0545 40.6406 32.3436 40.9609 32.7889 41.1484C33.4374 41.4141 34.4061 41.1328 34.8202 40.5625C34.9452 40.3906 35.2655 39.7109 35.5389 39.0547C35.8124 38.3906 36.1092 37.7734 36.1952 37.6719C36.4374 37.4062 36.8592 37.4375 37.1561 37.7422Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
  }
}

.block--profcounter {
  .row {
    border-top: 1px solid $gray-lightest;
  }
  .col-sm-10 {
    border-bottom: 1px solid $gray-lightest;
    display: flex;
    &:last-child { border-bottom: none; }
  }
  h3 { margin-top: 1rem; }
  .content { padding: 1rem 0; }
  .digits {
    color: $brand-cocoa; font-family: $font-name2; font-size: $font-size-h2;
  }
  .text { margin: 1rem 0 .5rem; }

  @media #{$pad}  {
    .col-sm-10 { border-right: 1px solid $gray-lightest; }
  }
  @media #{$laptop}  {
    .row { flex-wrap: nowrap; }
    .col-sm-10 {
      border-bottom: none;
      flex: 1 0 33%
      //height: 150px;
    }
    .content { padding: 2rem 0; }
  }
}

.block-product-categories {
  .content .col-sm-10 {
    justify-content: center;
    padding: 40px 0 50px;
    &:not(:last-child) { border-right: 1px solid $gray-lightest; }
  }
  .category-card {
    color: $text-color;
    margin: 0 auto;
    width: 235px;
    transition: all 0.3s;
    &:hover { transform: translateY(-4px); }

    &__more {
      i.picon {
        width: 60px; height: 10px;
        &::before { background-color: $brand-cocoa; }
      }
    }
  }
}

.block-views-blockaromas-block-1 {
  .views-field-field-image {
    overflow: hidden;
    img {
      transition: all 0.5s;
      min-width: 100%;
    }
    &:hover img { transform: scale(1.02); }
  }
  .views-field-name {
    font-size: $font-size-h4;
    height: 60px;
    padding-top: 1rem;
    .field-content {
      display: block;
      transition: all 0.3s;
      &:hover { transform: translateY(-4px); }
      a {
        color: inherit; font-family: $font-name2; text-transform: uppercase;
      }
    }

    @include padding-side();
  }

  @media #{$desktop} {
    .views-field-name {
      font-size: $font-size-h3;
      height: 100px;
      padding-top: 2rem;
    }
  }
}

// копия блока Ароматов на странице ароматов
#block-project-views-block-aromas-block-1-2 {
  .view-header .row,
  .swiper-slide {
    background: #B59A7F;
    color: #fff;
  }
}

.block-user-links-block,
.block-info-links-block {
  ul {
                          @include row('true', $gutter-sm);
    @media #{$pad}      { @include row('true', $gutter-pd); }
    @media #{$tablet}   { @include row('true', $gutter-tb); }
    @media #{$laptop}   { @include row('true', $gutter-lp); }
    @media #{$desktop}  { @include row('true', $gutter-dt); }
  }
  li {
    border-bottom: 1px solid $gray-lightest;
    flex: 100%;
    font-size: $font-size-h3; font-family: $font-name2; text-transform: uppercase; text-align: center;
    list-style: none;
    margin: 0;

    @include col('sm', 10, $gutter-sm);
    @include col('pd', 10, $gutter-pd);
    @include col('tb', 10, $gutter-tb);
    @include col('lp', 10, $gutter-lp);
    @include col('dt', 10, $gutter-dt);
    @include col('wd', 10, $gutter-wd);

    &.item--current {
      background: $brand-green;
      color: #fff;
    }

    a, span {
      color: inherit;
      display: inline-block;
      padding-top: 1rem; padding-bottom: 1rem;
    }

    @media #{$pad} {
      flex: auto;
    }
    @media #{$laptop} {
      flex: 100%;
      padding-top: 2rem; padding-bottom: 2rem;
      text-align: left;
    }
  }
}
