@import "variables";                                                            // чтобы переменные не подсвечивались

// форма добавления в корзину в карточке товара
.commerce-order-item-add-to-cart-form,
.commerce-order-item-variation-cart-form-form {
  .form-actions { margin: 0; }
}

.cart-form,
.commerce-checkout-flow {

  .sidebar {
    border-top: 1px solid $gray-lightest;
    padding-top: 25px; padding-bottom: 25px;
    h3 { margin-top: 0; }
    .form-actions {
      margin-top: 2rem;
      input {
        margin: 0;
        width: 100%;
      }
    }

    @media #{$laptop} {
      border-left: 1px solid $gray-lightest; border-top: none;
      padding-top: 4rem; padding-bottom: 4rem;
    }
  }

  .field--name-total-price {
    .order-total-line {
      text-align: left;
      display: flex; justify-content: space-between;
      padding: 0; margin-bottom: 1rem;
    }
    .order-total-line-label { padding: 0; }
    .order-total-line__total { font-weight: inherit; text-transform: uppercase; }
  }
}

.cart-form {
  .promotions {
    padding: 2rem 0;
  }
}

.commerce-checkout-flow {
  .main {
    display: flex; flex-wrap: wrap;
    line-height: 1.5;

    > .checkout-pane,
    #shipping-information-wrapper > .checkout-pane {
      border-bottom: 1px solid $gray-lightest;
      flex: 100%;
      padding: 25px 0;
      @media #{$desktop} { padding: 40px 0; }
    }

    .checkout-pane--complete,
    .checkout-pane-extn-commerce-gift-message {
      border-bottom: none;
    }
  }

  .checkout-pane {
    &__title,
    &__content {
      @include padding-side();
    }

    &__title {
      font-family: $font-name2; font-size: $font-size-h3; text-transform: uppercase;
      padding-bottom: 1rem;

      @media #{$desktop} {
        font-size: $font-size-h3;
        padding-bottom: 2rem;
      }
    }
  }

  .form-radios {
    display: flex; flex-wrap: wrap;
    .form-type-radio {
      flex: 0 0 100%;
      border: 1px solid $gray-lightest; border-bottom: 0;
      &:last-child { border-bottom: 1px solid $gray-lightest; }
      margin: 0; padding: 1rem;

      @media #{$laptop} {
        border-bottom: 1px solid $gray-lightest; border-left: none;
        &:first-child { border-left: 1px solid $gray-lightest; }
        flex: 0 0 50%;
        padding: 50px;
      }
    }
  }
}

.checkout-pane-contact-information {
  @media #{$pad} {
    .checkout-pane__content {
      display: flex; flex-wrap: wrap;
      column-gap: 1rem;
    }
    .form-item-contact-information-email,
    .form-item-contact-information-phone {
      flex: 1 0 45%;
    }
    .form-item-contact-information-surname,
    .form-item-contact-information-name,
    .form-item-contact-information-name2 {
      flex: 1 0 30%;
    }
  }
}

#shipping-information-wrapper { width: 100%; }

.checkout-pane--promotions > .checkout-pane__content {
  display: grid; gap: 1rem; grid-template-columns: 1fr;

  @media #{$pad} { grid-template-columns: 1fr 1fr; }
}
.checkout-pane-commerce-giftcard-redemption,
.checkout-pane-coupon-redemption {
  flex: 0 0 50%;
  .checkout-pane__content { padding: 0; }
  .item {
    display: flex;
    &__action { flex: 0 0 auto; }
    &__code {
      flex: auto;
      border: 1px solid $gray-lightest;
      display: flex; align-items: center;
      padding: $input-padding-base-v $input-padding-base-h;
      height: $input-height-base;
    }
  }
  .button {
    margin: 0;
    width: 100%;
  }
}

.checkout-pane-payment-information,
.checkout-pane-shipping-information {
  fieldset {
    border: none;
    padding: 0; margin: 0;
    legend { display : none; }
  }
}


.checkout-pane-extn-commerce-gift-message {
  .gift-message {
    &__intro {
      display: flex; flex-wrap: wrap;
    }
    &__image {
      flex: 0 0 100%;
      margin-bottom: 1rem;
      img { width: 100%; }
    }

    @media #{$pad} {
      flex-wrap: nowrap;
      &__intro {
        flex-wrap: nowrap; align-items: center;
        max-width: 630px;
      }
      &__image {
        flex: 0 0 180px;
        margin: 0 2rem 0 0;
      }

    }
  }
}

.checkout-pane-shipping-information {
  [class=address-line3].form-type-textfield {
    //display: none;
  }
  .cdek-map {
    //height: 600px;
  }
}

.cart-form {

  .views-row {
    display: flex; flex-wrap: wrap;
    border-bottom: 1px solid $gray-lightest;

    @include padding-block(16, 20, 32);
  }

  .views-label { display: none; }
  [class*=views-field-rendered-entity] {
    flex: 0 0 100%;
    margin-bottom: .5rem;
  }

  .views-field-nothing {
    flex: 0 0 100%;
    .field-content {
      display: flex; align-items: center; justify-content: space-between;
      height: 100%;
    }
  }

  .views-field-price,
  .views-field-total-price {
    font-family: $font-name2; text-align: right;
  }

  .views-field-qty {
    .form-type-number { margin: 0; }
    input {
      text-align: center;
      width: 60px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button { -webkit-appearance: none; }
    }
  }

  .views-field-remove {
    input[type=submit] {
      background: url(../images/icons/cross.svg) no-repeat center center;
      border: 0;
      display: block;
      cursor: pointer;
      height: 24px; width: 24px;
      padding: 0;
      text-indent: -9999px;
    }
  }

  .commerce-cart-policy {
    color: $text-muted; font-size: $font-size-small;
    margin-top: 2rem;
  }

  @media #{$pad} {
    [class*=views-field-rendered-entity] {
      margin-bottom: 0;
    }
    .views-field-price,
    .views-field-total-price {
      font-size: $font-size-large;
      min-width: 110px;
    }
    .views-field-nothing {
      .field-content { justify-content: right; }
      .views-field { margin-left: 1rem; }
    }
  }
  @media #{$laptop} {
    .views-row {
      flex-wrap: nowrap;
      &:last-child { border-bottom: none; }
    }

    [class*=views-field-rendered-entity],
    .views-field-nothing {
      flex: 0 0 50%;
    }
    .views-field-nothing .field-content { justify-content: space-between; }
  }

}

.cart-empty-page { padding: 2rem 0; }

.view-commerce-checkout-order-summary {
  .view-content { display: none; }
}

.cart-block {
  height: 100%;
  &__inner {
    display: flex; align-items: center;
    text-indent: -9999px;
    position: relative;

    .picon--left { margin-right: 0; }
  }
  .badge { font-family: $font-name2; text-indent: 0; }

  @media #{$laptop}   {
    &__inner {
      text-indent: 0;
      .picon--left { margin-right: 10px; }
    }
  }
}

.orders-list {
  padding: 2rem 0;

  &__order {
    border: 1px solid $gray-lightest;
    margin: 0;
    &:not(:first-child) { border-top: none; }
    &[open] { border: 1px solid $brand-cocoa; }

    span { color: $text-muted; }

    .order__header {
      display: flex; flex-wrap: wrap;
      padding: 1rem;
    }
    .order__number {
      font-family: $font-name2;
      flex: 0 0 50%;
    }
    .order__state {
      flex: 0 0 50%;
      text-align: right;
    }
    .order__total {
      flex: 0 0 100%;
      margin-top: .5rem;
    }

    .order_item {
      border-top: 1px solid $gray-lightest;
      &:last-child { border-bottom: 1px solid $gray-lightest; }
      display: flex; flex-wrap: wrap;
      padding: 1rem;

      &__price,
      &__qty,
      &__total_price {
        font-family: $font-name2;
      }
      &__qty { text-align: center; }
      &__total_price { text-align: right; }

      .product {
        flex: 100%;
        padding-bottom: 1rem;
      }
      img { width: 50px; }

      .col--1 { flex: 0 0 35%; }
      .col--2 { flex: 0 0 30%; }
      .col--3 { flex: 0 0 35%; }
    }

    .order__footer {
      display: flex; flex-wrap: wrap;
      padding: 1rem;
    }
    .order__actions {
      flex: auto;
      margin-top: 1rem;
      .button { width: 100%; }
    }
    .order__summary {
      flex: 0 0 100%;

      .col--1 { flex: 0 0 60%; }
      .col--2 {
        flex: 0 0 100%;
        order: 3;
      }
      .col--3 {
        flex: 0 0 40%;
        text-align: right;
      }
    }
    .summary__row {
      display: flex; flex-wrap: wrap;
      padding: .5rem 0;

      &:last-child {
        font-size: $font-size-large; font-family: $font-name2;
      }
      .notes {
        color: $text-muted; font-size: $font-size-small;
      }
      .amount { text-align: right; }
    }
  }

  @media #{$pad} {
    .order_item {
      .col--1 { padding-left: 85px; }
    }
    .order__summary {
      .col--1 { flex: 0 0 35%; }
      .col--2 { flex: auto; order: 0; }
      .col--3 { flex: 0 0 20%; }
    }
    .summary__row {
      flex-wrap: nowrap;
      .notes { padding: 0 1rem; }
    }

  }

  @media #{$laptop} {
    .order_item {
      flex-wrap: nowrap; align-items: center;
      padding: 2rem;
      &__price,
      &__qty,
      &__total_price {
        font-size: $font-size-large; font-family: $font-name2;
      }
      .col--1 {
        flex: 0 0 20%;
        padding-left: 0;
      }
      .col--2 { flex: 0 0 25%; }
      .col--3 { flex: 0 0 20%; }
    }
    .order__header {
      flex-wrap: nowrap;
      padding: 2rem;
    }
    .order__number {
      font-size: $font-size-large;
      flex: auto;
    }
    .order__state {
      flex: 0 0 35%;
      text-align: left;
    }
    .order__total {
      flex: 0 0 30%;
      text-align: right;
      margin-top: 0;
    }
    .order_item {
      .product {
        flex: auto;
        padding-bottom: 0;
      }
    }
    .order__footer {
      flex-wrap: nowrap;
      padding: 2rem;
    }
    .order__actions {
      flex: auto;
      margin-top: .5rem;
      .button { width: initial; }
    }
    .order__summary {
      flex: 0 0 65%;
      order: 2;
    }
  }
}

