@import "variables";
// чтобы переменные не подсвечивались
.ui-dialog {
  padding: 2rem;
  @media #{$pad} { padding: 60px; }

  .ui-dialog-titlebar {
    background: none; border: none;
    padding: 0;
    h1 {
      font-family: $font-name2; font-size: $font-size-h3; text-align: center;
      @media #{$desktop} { font-size: $font-size-h2; }
    }
    button {
      top: -1rem; right: 0;
      margin: 0;
      span.ui-icon-closethick {
        background-image: url(../images/icons/cross.svg);
        background-position: 0 0;
        cursor: pointer;
        margin: 0;
        top: 0; left: 0;
        width: 20px; height: 20px;
      }

      @media #{$desktop} { right: -1rem; }
    }
  }
  .ui-dialog-title {
    float: none;
    width: initial;
    white-space: initial;
  }
  .ui-dialog-content {
    padding: 0; margin-top: 2rem;
    overflow: visible;
    input {
      font-size: $font-size-base;
      width: 100%;
    }
  }
  .ui-dialog-actions {
    padding-top: 2rem;
  }
  .ui-dialog-notes {
    color: $text-muted; font-size: $font-size-small; text-align: center;
    margin-top: 1rem;
  }
  .ui-dialog-buttonpane {
    background: none; border: none;
    padding: 0;
    width: 100%;
    .ui-dialog-buttonset {
      float: none;
      margin-top: 2rem;
    }

    button { margin: 0; }
  }
  .button {
    width: 100%;
    margin: 0;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  a.button--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-h-color, $btn-primary-h-bg, $btn-primary-h-border);
  }
}

.ui-widget button {
  font-family: $font-name2;
}
