@import "variables";                                                            // чтобы переменные не подсвечивались

.input-dropdown-filter {

  .input-dropdown-menu:not(:empty) {
    border: 1px solid $gray-lightest;
    box-shadow: 1px 1px 10px $gray-lightest;

    .input-dropdown-item {
      &:hover { background-color: $gray-lightest; }
    }

    &.processing .input-dropdown-item {
      opacity: .2; pointer-events: none;
    }
  }
}

.checkout-pane-shipping-information {
  .input-dropdown-menu {
    max-height: 20rem;

    .input-dropdown-item {
      padding: .8rem;
      span { color: $gray-light; font-size: $font-size-small; }
    }

  }
}

.form-item--error-message {
  margin-top: 2px;

  strong {
    color: $brand-danger; font-size: $font-size-small; font-weight: 400;
  }
  &::before {
    height: 12px;
    vertical-align: initial;
  }
}

.js-form-item-fz152-agreement {
  color: $gray; font-size: $font-size-small;
  a { text-decoration: underline; }
}

.form-items-inline {
  @media #{$laptop}  {
    display: flex; flex-wrap: wrap; gap: 0 1rem;
    margin: 1rem 0;

    > .form-item,
    > .form-actions { margin: 0; }
  }
}

.user-auth-modal {
  .form-item--code {
    display: flex; gap: 0 1rem; justify-content: center;
    input.code {
      font-size: $font-size-large; text-align: center;
      width: 60px;
    }
  }
}


.page-header__col21 { position: relative; }
.page-header__search {
  padding-left: 30px;

  .extn-form-search-form-wrapper { width: 100%; }
  .extn-form-search-form {
    background: #fff;
    display: flex; gap: 1rem;

    .form-item {
      flex: 1 1 auto;
      margin: 0;
    }
    .search-icon,
    .close-icon {
      display: flex; align-items: center;
    }

    .close-icon { cursor: pointer; }

    .input-dropdown-menu:not(:empty) {
      overflow-y: visible;
      max-height: initial;

      .input-dropdown-item {
        padding: .5rem 1rem;
        &.item--link {
          padding: 0;
          a {
            display: block;
            padding: .5rem 1rem;
          }
        }
        &.item--footer {
          border-top: 1px solid $gray-lightest;
        }
        span { color: $brand-cocoa; }
      }
    }
  }

  &.open {
    position: absolute; left: 0; right: -50px; top: 0; bottom: 0; z-index: 10;
    padding: 0;
    background: #fff;
    display: flex; align-items: center;
  }

  &:not(.open) {
    .form-item-key,
    .close-icon { display: none; }
    .search-icon { cursor: pointer; }
  }

}

