@import "variables";                                                            // чтобы переменные не подсвечивались

.input-dropdown-filter {

  .input-dropdown-menu {
    border: 1px solid $gray-lightest;
    box-shadow: 1px 1px 10px $gray-lightest;
    max-height: 13rem;

    .input-dropdown-item {
      padding: 1rem;
      &:hover { background-color: $gray-lightest; }
      span { color: $gray-light; font-size: $font-size-small; }
    }

    &.processing .input-dropdown-item {
      opacity: .2; pointer-events: none;
    }
  }
}

.form-item--error-message {
  margin-top: 2px;

  strong {
    color: $brand-danger; font-size: $font-size-small; font-weight: 400;
  }
  &::before {
    height: 12px;
    vertical-align: initial;
  }
}

.js-form-item-fz152-agreement {
  color: $gray; font-size: $font-size-small;
  a { text-decoration: underline; }
}

.form-items-inline {
  @media #{$laptop}  {
    display: flex; flex-wrap: wrap; gap: 0 1rem;
    margin: 1rem 0;

    > .form-item,
    > .form-actions { margin: 0; }
  }
}

.user-auth-modal {
  .form-item--code {
    display: flex; gap: 0 1rem; justify-content: center;
    input.code {
      font-size: $font-size-large; text-align: center;
      width: 60px;
    }
  }
}
