@import "variables";                                                            // чтобы переменные не подсвечивались

.border-r { border-right: 1px solid $gray-lightest; }
.border-l { border-left: 1px solid $gray-lightest; }
.border-t { border-top: 1px solid $gray-lightest; }
.border-b { border-bottom: 1px solid $gray-lightest; }

.text--accent { color: $gray; }
.text--notes { color: $gray; font-size: $font-size-small; }

.show-more {
  i.picon {
    width: 60px; height: 10px;
    &::before { background-color: $brand-cocoa; }
  }
}

// переменный горизонтальный отступ блока в зависимости от ширины экрана
@mixin padding-side() {
  padding-left: $gutter-sm; padding-right: $gutter-sm;

  @media #{$pad}   {
    padding-left: $gutter-pd; padding-right: $gutter-pd;
  }
  @media #{$tablet}   {
    padding-left: $gutter-tb; padding-right: $gutter-tb;
  }
  @media #{$laptop}   {
    padding-left: $gutter-lp; padding-right: $gutter-lp;
  }
  @media #{$desktop}   {
    padding-left: $gutter-dt; padding-right: $gutter-dt;
  }
  @media #{$wide}   {
    padding-left: $gutter-wd; padding-right: $gutter-wd;
  }
}

// переменный ЗАДАННЫЕ вертикальный и горизонтальный отступ блока в зависимости от ширины экрана
@mixin padding-block($sm, $pd, $dt) {
  padding: #{$sm}+px $gutter-sm;

  @media #{$pad}   {
    padding: #{$pd}+px $gutter-pd;
  }
  @media #{$tablet}   {
    padding: #{$pd}+px $gutter-tb;
  }
  @media #{$laptop}   {
    padding: #{$dt}+px $gutter-lp;
  }
  @media #{$desktop}   {
    padding: #{$dt}+px $gutter-dt;
  }
  @media #{$wide}   {
    padding: #{$dt}+px $gutter-wd;
  }
}

.padding-side {
  @include padding-side();
}

.scrollable {
  position: relative;
  overflow-x: scroll; overflow-y: hidden;
  scrollbar-width: none;

  //&::after {
  //  background-image: linear-gradient(-90deg, #383838, transparent);
  //  content: '';
  //  display: block;
  //  position: absolute; top: 0; right: 0; z-index: 1;
  //  width: 50px; height: 100%;
  //  visibility: visible;
  //}
}
