@import "variables";                                                            // чтобы переменные не подсвечивались

.border-r { border-right: 1px solid $gray-lightest; }
.border-l { border-left: 1px solid $gray-lightest; }
.border-t { border-top: 1px solid $gray-lightest; }
.border-b { border-bottom: 1px solid $gray-lightest; }

