@import "variables";                                                            // чтобы переменные не подсвечивались

.page-header {
  display: flex; align-items: center;

  .page-header__inner { width: 100%; }
  .page-header__row {
    border-bottom: 1px solid $gray-lightest;
    display: flex;
  }
  &__brand {
    display: flex; justify-content: center; align-items: center;
    padding: 1rem 0;
  }
  &__content {
    display: flex; justify-content: space-between;
  }
  &__col21 {
    display: flex; align-items: center;
  }
  &__col12,
  &__col22 {
    display: flex; justify-content: right; align-items: center;
    gap: 1.5rem;
  }
  .page-header__item {
    display: flex; align-items: center;
    height: 100%;
    transition: border-color 200ms;

    a {
      border-bottom: 1px solid transparent;
      display: flex; align-items: center;
      height: 100%;

      &:hover { border-bottom: 1px solid $brand-cocoa; }
    }
  }

  @media #{$laptop} {
    &__col11 { flex: 100%; }
    &__col22 { gap: 40px; }
  }
}

.page-offside {
  border-left: 1px solid $gray-lightest;
}

.page-title {
  line-height: 1;
  margin-top: 0;
}

.page-footer {
  .page-footer__inner { width: 100%; }

  &__row1,
  &__row2 {
    border-top: 1px solid $gray-lightest;
    width: 100%;
  }

  &__row1 {
    padding: 1rem 0;
    margin-top: -1px; // скрыть нижнюю границу нижних блоков
  }
  &__row2 {
    color: $text-muted; font-size: $font-size-xs;

    .container-fluid { height: 100%; }
    .row {
      align-items: center;
      height: 100%;
    }

    .production {
      border-bottom: 1px solid $gray-lightest;
      padding: 1rem 0;
    }
    .copyright {
      height: 46px;     // для синхронизации с высотой back-to-top
      padding: 1rem 0;
    }
  }
  &__menu {
    ul { margin: 0; padding: 0; }
    li {
      list-style: none;
      a:not(.button) {
        color: inherit;
        display: block;
        padding: .5rem 0;
        &:hover,
        &:active { color: $brand-cocoa; }
      }
      a.button { margin-top: 1rem; }
    }
  }

  @media #{$tablet} {
    &__row2 {
      .production {
        border-bottom: none;
        padding: .5rem 0;
      }
      .copyright { padding: 0; }
    }
  }
  @media #{$laptop} {
    &__row1 {
      padding: 3rem 0;
    }
    &__row2 {
      .production { padding: 1rem 0; }
      .copyright {
        display: flex; align-items: center;
        height: 76px;    // для синхронизации с высотой back-to-top
      }
    }
  }
}

aside:first-child {
  border-right: 1px solid $gray-lightest;
}

#back-to-top {
  background: #fff;
  border: 1px solid $gray-lightest;
  display: flex; align-items: center; justify-content: center;
  bottom: -1px; right: 0;
  width: 48px; height: 48px;

  @media #{$laptop} {
    width: 78px; height: 78px;
  }
}
