@import "variables";                                                            // чтобы переменные не подсвечивались

.page-header {
  display: flex; align-items: center;

  .page-header__inner { width: 100%; }
  .page-header__row {
    border-bottom: 1px solid $gray-lightest;
    display: flex;
  }
  &__brand {
    display: flex; justify-content: center; align-items: center;
    padding: 1rem 0;
  }
  &__content {
    flex: auto;
    display: flex; justify-content: space-between;
  }
  &__col1 {
    display: flex; align-items: center;
  }
  &__col2 {
    display: flex; justify-content: right; align-items: center;
    gap: 40px;
  }
  .page-header__info {
    display: flex; align-items: center;
    height: 100%;
    transition: border-color 200ms;

    a {
      border-bottom: 1px solid transparent;
      display: flex; align-items: center;
      height: 100%;

      &:hover { border-bottom: 1px solid $brand-cocoa; }
    }
  }
}

.page-title {
  line-height: 1;
  margin-top: 0;
}

.page-footer {
  .page-footer__inner { width: 100%; }

  &__row1,
  &__row2 {
    border-top: 1px solid $gray-lightest;
    width: 100%;
  }

  &__row1 {
    padding: 3rem 0;
    margin-top: -1px; // скрыть нижнюю границу нижних блоков
  }
  &__row2 {
    color: $text-muted; font-size: $font-size-xs;
    height: 80px;
    .container-fluid { height: 100%; }
    .row {
      align-items: center;
      height: 100%;
    }
  }
  &__menu {
    ul { margin: 0; padding: 0; }
    li {
      list-style: none;
      a:not(.button) {
        color: inherit;
        display: block;
        padding: .5rem 0;
        &:hover,
        &:active { color: $brand-cocoa; }
      }
      a.button { margin-top: 1rem; }
    }
  }
}

.ui-dialog {
  padding: 60px;

  .ui-dialog-titlebar {
    background: none; border: none;
    padding: 0;
    h1 { font-family: $font-name2; font-size: $font-size-h2; text-align: center; }
    button {
      top: -1rem; right: -1rem;
      margin: 0;
      span.ui-icon-closethick {
        background-image: url(../images/icons/cross.svg);
        background-position: 0 0;
        cursor: pointer;
        margin: 0;
        top: 0; left: 0;
        width: 20px; height: 20px;
      }
    }
  }
  .ui-dialog-title {
    float: none;
    width: initial;
    white-space: initial;
  }
  .ui-dialog-content {
    padding: 0; margin-top: 2rem;
    overflow: visible;
    input {
      font-size: $font-size-base;
      width: 100%;
    }
  }
  .ui-dialog-actions {
    padding-top: 2rem;
  }
  .ui-dialog-notes {
    color: $text-muted; font-size: $font-size-small; text-align: center;
    margin-top: 1rem;
  }
  .ui-dialog-buttonpane {
    background: none; border: none;
    padding: 0;
    width: 100%;
    .ui-dialog-buttonset {
      float: none;
      margin-top: 2rem;
    }

    button { margin: 0; }
  }
  .button {
    width: 100%;
    margin: 0;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  a.button--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-h-color, $btn-primary-h-bg, $btn-primary-h-border);
  }
}

.ui-widget button {
  font-family: $font-name2;
}

aside:first-child {
  border-right: 1px solid $gray-lightest;
}
