@import "variables";                                                            // чтобы переменные не подсвечивались

// секция оформления отдельных страниц

.page--40x {
  h1 { font-size: 250px; line-height: 1; }
  .image img {
    object-fit: cover;
    width: 100%
  }
  .actions { margin: 2rem 0; }
}


.user-profile-form {
  display: flex; flex-wrap: wrap;
  max-width: 1200px;
  margin: 2rem 0 4rem;

  &__left,
  &__right {
    flex: 0 0 100%;
  }

  .container-inline {
    display: flex; justify-content: space-between; gap: 1rem;
    > div { flex: 1 0 33%; }
    .form-item { margin-bottom: 0; }
  }

  .field--name-field-user-birthday {
    .form-item { width: 100%; }
  }
  .field--name-field-user-gender {
    .form-item { width: 100%; }
  }

  .form-actions { width: 100%; }
  .button {
    margin: 1rem 0 0 0;
    width: 100%;
  }

  #edit-pass--description { text-align: right; }

  @media #{$desktop}   {
    &__left,
    &__right {
      flex: 0 0 50%;
    }

    &__left { padding-right: 1rem; }

    &__right {
      padding-left: 1rem;
    }
  }
}

.profile-user-edit-form {
  .user-profile-form {
    @media #{$pad} {
      &__left,
      &__right {
        flex: 0 0 50%;
      }
      &__left { padding-right: 1rem; }
      &__right {
        > .container-inline {
          display: flex; justify-content: space-between;
          > div { flex: 0 0 49%; }
          .form-item { margin-bottom: 0; }
        }
      }
    }
  }
}
