@import "variables";                                                            // чтобы переменные не подсвечивались

.product {
  .product__price {
    font-family: $font-name2;
    display: flex;
  }
  .field--name-list-price {
    color: $brand-cocoa; text-decoration: line-through;
  }
}

.product__socials {
  margin-bottom: 30px;

  .socials {
    display: flex; align-items: center;
    &__title { margin: 0 1rem 0 0; }
  }

  @media #{$laptop} { margin-top: 70px; }

  @media #{$laptop-only} {
    .socials {
      &__title { display: none }
      &__items { flex-wrap: wrap; }
      &__item {
        border: 1px solid $gray-lightest;
        border-bottom: none;
        &:last-child { border-bottom: 1px solid $gray-lightest;}
      }
    }
  }

  @media #{$desktop} {
    .socials {
      flex-wrap: wrap;
      &__title {
        display: block;
        margin: 0 0 1rem 0;
      }
    }
  }
}

.product--summary {
  height: 100%;
  position: relative;

  .product__inner {
                          padding: 1rem $gutter-sm;
    @media #{$pad}      { padding: 2rem $gutter-pd; }
    @media #{$tablet}   { padding: 2rem $gutter-tb; }
    @media #{$laptop}   { padding: 2.5rem $gutter-lp; }
    @media #{$desktop}  { padding: 3rem $gutter-dt; }
    @media #{$wide}     { padding: 3rem $gutter-wd; }
  }

  .product__title {
    display: flex; justify-content: space-between;
    a {
      color: inherit;
      padding-right: 1rem;
    }
    h4 { font-family: inherit; font-size: inherit; }

    input[type=submit] {
      background: url(../images/icons/bag.svg) no-repeat center center;
      border: 0;
      display: block;
      cursor: pointer;
      height: 24px; width: 24px;
      padding: 0;
      text-indent: -9999px;
      &.in-cart { background-image: url(../images/icons/bag-fill.svg) }
    }
  }
  .product__image {
    display: flex; justify-content: center;
    height: 220px;
    a { width: 100%; }
    img {
      height: 100%; width: 100%;
      object-fit: cover;
    }
  }
  .product__discount {
    display: flex; align-items: center; justify-content: center;
    background: $brand-primary;
    border-radius: 35px;
    color: white; font-family: $font-name2; font-size: $font-size-h3;
    position: absolute; top: 2rem; right: 0;
    width: 70px; height: 70px;
  }
  .product__content {
    padding-top: 1rem;
  }
  .product__price {
    font-size: $font-size-large;
    gap: 1rem;
  }
  .product__actions { margin-top: 1rem; }

  @media #{$desktop}      {
    .product__discount { right: -2rem; }
    .product__image { height: 350px; }
    .product__actions { margin-top: 25px; }
  }
}


.product--full {
  .product__brief { padding: 30px 0; }

  .product__image {
    height: 300px;
    overflow: hidden;
    .slider__content img { height: 300px; }
    .slider {
      grid-template-columns: 0 100%;
      @media #{$desktop} { grid-template-columns: 15% 85%; }
    }
  }

  h1 {
    font-size: $font-size-h3;
    margin-top: 0;
  }

  .product__summary {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .product__price {
    font-size: $font-size-h3;
    gap: 2rem;
    margin: 2rem 0;
  }

  .product__specs {
    .field {
      display: flex; justify-content: space-between;
      border-bottom: 1px solid $gray-lightest;
      padding: .5rem 0;
      &__label {
        color: $brand-cocoa; font-weight: 400;
        &:after { content: none; }
      }
      &__items { text-align: right; }
      div { padding: 0; }
      &:after { content: none; }
    }
  }

  .commerce-order-item-add-to-cart-form {
    display: flex;
    .form-item { margin: 0; }
    .form-type-number label { display: none; }
    .form-actions {
      margin: 0;
      input.button { margin: 0; }
    }

    .go-to-cart {
      font-size: 1.125rem; line-height: 1;
      padding-top: 10px;
      span {
        font-size: 1rem; text-transform: none;
      }
    }
  }

  .field--name-quantity {
    display: flex;
    margin-right: 1rem;
    input {
      border-left: none; border-right: none;
      text-align: center;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button { -webkit-appearance: none; }
    }
  }

  .product__description {
    line-height: 1.5;

    p:first-child { margin-top: 0; }
    .tabs-js { margin: 0; }
    .tabs-js__nav {
      display: flex;
      border-bottom: 1px solid $gray-lightest;
    }
    .tabs-js__link {
      flex: 1 0 auto;
      font-family: $font-name2; font-size: $font-size-h5; text-transform: uppercase;
      display: flex; justify-content: center; align-items: center;
      height: 50px;
      padding: 0 3rem;
      transition: background-color 200ms;
      &:not(:last-child) { border-right: 1px solid $gray-lightest; }
      &--active {
        background: $brand-primary;
        color: white;
      }

      @media #{$pad} { height: 60px; }
      @media #{$desktop} {
        font-size: $font-size-h3;
        height: 100px;
      }
    }
    .tabs-js__content {
      padding: 20px 0;
      @media #{$desktop} { padding: 60px 0; }
    }

    .vocabulary-aromas {
      > h2 { display: none; }
      .field--type-image {
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      .field--name-field-teaser {
        font-size: $font-size-h3; font-family: $font-name2; text-transform: uppercase;
        margin-bottom: 1rem;
        @media #{$desktop} { font-size: $font-size-h2; }
        }
      .field--name-description { margin-bottom: 1rem; }
      .field--name-field-smells {
        display: grid; gap: 1rem; grid-template-columns: 1fr 1fr;
        @media #{$pad} { grid-template-columns: 1fr 1fr 1fr; }
      }
    }
  }

  @media #{$pad} {
    .product__image {
      &,
      .slider__content img { height: 500px; }
    }
  }
  @media #{$desktop} {
    h1 { font-size: $font-size-h2; }
    .product__price { font-size: $font-size-h2; }
    .product__brief { padding: 70px 0; }
    .product__image {
      max-height: 650px;
      .slider__content img { max-height: 650px; }
    }
  }
}


.product-sertifikat--full {
  .product__description {
    padding-top: 20px; padding-bottom: 20px;
    @media #{$desktop} { padding-top: 60px; padding-bottom: 60px; }
  }
}


.product--cart {
  .product__image {
    border: 1px solid $gray-lightest;
    margin-right: 2rem;
  }
  .product__row {
    display: flex; align-items: center;
  }
  .field--name-field-p-volume {
    color: $text-muted;
  }
}

.product--mini {
  .product__image {
    border: 1px solid $gray-lightest;
    margin-right: 1rem;
    width: 50px;
  }
  .product__row {
    display: flex;
  }

  .product__summary {
    display: flex; flex-wrap: wrap; align-content: space-around;
    > div { flex: 100%; }
  }

  .product__price {
    font-size: $font-size-large;
    gap: 1rem;
  }

  @media #{$desktop} {
    .product__image {
      margin-right: 2rem;
      width: 70px;
    }
  }
}


.commerce-quantity-controls {
  display: flex;

  .form-item { flex: 1 1 60px; }

  .commerce-quantity-control {
    border: 1px solid $gray-lightest;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
    flex: 0 0 40px;
  }
  .decrement {
    background: url(../images/icons/minus.svg) no-repeat center center;
    border-right: none;
  }
  .increment {
    background: url(../images/icons/plus.svg) no-repeat center center;
    border-left: none;
  }
}

.karusel-produktov .product--summary {
  &.product-category--21 { background: linear-gradient(#fff, $brand-hair); }
  &.product-category--22 { background: linear-gradient(#fff, $brand-hands); }
  &.product-category--23 { background: linear-gradient(#fff, $brand-body); }
  &.product-category--24 { background: linear-gradient(#fff, $brand-home); }
  &.product-category--25 { background: linear-gradient(#fff, $brand-travel); }
  &.product-category--26 { background: linear-gradient(#fff, $brand-set); }
}
