@import "variables";                                                            // чтобы переменные не подсвечивались

:root {
  --swiper-pagination-bottom: 14px;
}

.swiper-outsource-navigation {
  span {
    display: inline-block;
    cursor: pointer;
  }
  .left { margin-right: 1rem; }

  i.picon {
    width: 60px; height: 10px;
    &::before { background-color: $gray-light; }
    &:hover::before { background-color: $brand-cocoa; }
  }

}


.slider {
  display: grid;
  grid-template-columns: 15% 85%;
  &__thumbs {
    overflow: hidden;
    img {
      object-fit: cover;
    }
    .swiper-thumbs {
      display: flex; flex-direction: column; align-items: center;
      height: 100%;
      margin: 1px; overflow: hidden; // скрываем верхнюю строку в 1 px
    }

    .swiper-slide {
      display: flex; justify-content: center;
      opacity: .5;
      transition: opacity 200ms;
      height: 100px;
      &:last-child { margin-bottom: 0!important; }
    }
    .swiper-slide-thumb-active { opacity: 1; }
  }
}

.karusel-produktov,
.karusel-produktov-auto {
  .swiper-button-prev, .swiper-button-next { display: none; }
}

.view {
  .swiper-container { margin: 0; }
}

.view-front-slider {
  .slider {
    grid-template-columns: 0 100%;

    @media #{$laptop} {
      grid-template-columns: 225px auto;
    }
  }
}
