@import "variables";                                                            // чтобы переменные не подсвечивались

:root {
  --swiper-pagination-bottom: 14px;
}

.swiper-outsource-navigation {
  span {
    display: inline-block;
    cursor: pointer;
  }
  .left { margin-right: 1rem; }

  i.picon {
    width: 60px; height: 10px;
    &::before { background-color: $gray-light; }
    &:hover::before { background-color: $brand-cocoa; }
  }

}


.slider {
  display: grid;
  grid-template-columns: 15% 85%;
  &__thumbs {
    img {
      height: 80px; width: 80px;
      object-fit: cover;
    }
    .swiper-thumbs {
      display: flex; flex-direction: column; justify-content: center; align-items: center;
      height: 100%;
    }
    .swiper-wrapper { width: initial; }
    .swiper-wrapper,
    .swiper-slide { height: initial; }

    .swiper-slide {
      opacity: .5;
      transition: opacity 200ms;
    }
    .swiper-slide-thumb-active { opacity: 1; }
  }
}

.view {
  .swiper-container { margin: 0; }
}

.view-front-slider {
  .slider {
    grid-template-columns: 0 100%;
    @media #{$desktop} { grid-template-columns: 12% 88%; }
  }
}
