@import "variables";                                                            // чтобы переменные не подсвечивались

.view {
  .view-empty { padding-top: 2rem; }

  .view-content {
    @include row('true', $gutter-xs);

    @media #{$pad}   {
      @include row('true', $gutter-md);
    }
    @media #{$tablet}   {
      @include row('true', $gutter-lg);
    }
    @media #{$laptop}   {
      @include row('true', $gutter-xl);
    }
  }
}


.view-katalog {
  .views-row {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 $gutter-md;

    border-right: 1px solid $gray-lightest;
    box-sizing: border-box;
  }
}

.view-aromas,
.view-karusel-produktov,
.view-novosti {
  .view-content {
    .swiper-container {
      border-top: 1px solid $gray-lightest;
      width: 100%;
    }
    .swiper-slide:first-child { border-left: 1px solid $gray-lightest; }
    .swiper-slide { border-right: 1px solid $gray-lightest; }
  }
}

.view-blog {
  .view-content {
    border-left: 1px solid $gray-lightest;
  }

  .views-row {
    flex-basis: 20%;
    max-width: 20%;

    border-right: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
  }
}

.view-kategorii {
  .view-content {
    border-left: 1px solid $gray-lightest;
  }

  .views-row {
    flex-basis: 33.3%;
    max-width: 33.3%;

    border-right: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    padding: 1rem 4rem;
  }
  .image { flex: 0 0 40%; }
  .text {
    flex: auto;
    padding: 2rem 0 0 2rem;
  }
  p { color: $text-muted; }
  h2 { font-size: $font-size-large; }
  .field-name--field-products-count {
    color: $text-muted;
    padding-top: 4rem;
  }
}
