@import "variables";                                                            // чтобы переменные не подсвечивались

.view-katalog {
  .view-content {
    @include row('true', $gutter-xs);

    @media #{$tablet}   {
      @include row('true', $gutter-md);
    }
  }
  .views-row {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 $gutter-md;

    border-right: 1px solid $gray-lightest;
    box-sizing: border-box;
  }
}

.view-aromas,
.view-karusel-produktov,
.view-novosti {
  .view-content {

    @include row('true', $gutter-xs);

    .swiper-container {
      border-top: 1px solid $gray-lightest;
      width: 100%;
    }
    .swiper-slide:first-child { border-left: 1px solid $gray-lightest; }
    .swiper-slide { border-right: 1px solid $gray-lightest; }

    @media #{$tablet}   {
      @include row('true', $gutter-md);
    }
  }
}

.view-blog {
  .view-content {
    border-left: 1px solid $gray-lightest;

    @include row('true', $gutter-xs);

    @media #{$tablet}   {
      @include row('true', $gutter-md);
    }
  }

  .views-row {
    flex-basis: 20%;
    max-width: 20%;

    border-right: 1px solid $gray-lightest;
    box-sizing: border-box;
  }
}
