@import "variables";                                                            // чтобы переменные не подсвечивались

.view {
  .view-empty { padding-top: 2rem; }

  .view-content {

    h3, h4 { margin-top: 0;}

    @include row('true', $gutter-xs);
    @media #{$pad}      { @include row('true', $gutter-md); }
    @media #{$tablet}   { @include row('true', $gutter-lg); }
    @media #{$laptop}   { @include row('true', $gutter-xl); }
  }
}


.view-katalog {
  .views-row {
    flex-basis: 100%; max-width: 100%;
    border-top: 1px solid $gray-lightest;
    box-sizing: border-box;
    padding: 1rem $gutter-xs;

    &:nth-child(1) { border-top: none; }

    @media #{$pad}      {
      border-right: 1px solid $gray-lightest;
      &:nth-child(2) { border-top: none; }
      flex-basis: 50%; max-width: 50%;
      padding: 2rem $gutter-md;
    }
    @media #{$tablet}   { padding: 2rem $gutter-lg; }
    @media #{$laptop}   {
      flex-basis: 25%; max-width: 25%;
      padding: 3rem $gutter-xl;
    }
  }
}

.mobile-exposed {
  background: #fff;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 99;
  visibility: hidden; opacity: 0;
  transition: opacity 200ms;

  &--open { visibility: visible; opacity: 1; }

  &__header {
    color: $brand-cocoa;
    display: flex; justify-content: space-between;
    padding-top: 1rem; padding-bottom: 1rem;
    i.picon:before { background-color: $brand-cocoa; }
  }

  form { padding: 1rem; }
}

.mobile-exposed-trigger {

  i.picon:before {
    background-color: $brand-cocoa;
    width: 40px;
  }

  .mobile-exposed--sort,
  .mobile-exposed--filters { padding: 1rem 0; }
  .mobile-exposed--filters {
    display: flex; justify-content: space-between;
  }

}



.view-aromas,
.view-karusel-produktov,
.view-karusel-kategoriy,
.view-novosti {
  .view-content {
    .swiper-container {
      border-top: 1px solid $gray-lightest;
      width: 100%;
    }
    .swiper-slide:first-child { border-left: 1px solid $gray-lightest; }
    .swiper-slide { border-right: 1px solid $gray-lightest; }
  }
}

.view-karusel-produktov,
.view-karusel-kategoriy {
  .swiper-slide {
    padding: 1rem $gutter-xs;
    @media #{$pad}      { padding: 2rem $gutter-md; }
    @media #{$tablet}   { padding: 2rem $gutter-lg; }
    @media #{$laptop}   { padding: 3rem $gutter-xl; }
  }
}

.view-blog {
  .view-content {
    border-left: 1px solid $gray-lightest;
  }

  .views-row {
    flex-basis: 20%; max-width: 20%;

    border-right: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
  }
}

.view-kategorii {
  .view-content {
    border-left: 1px solid $gray-lightest;
  }

  .views-row {
    flex-basis: 100%; max-width: 100%;

    border-right: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    padding: .5rem 2rem;
  }
  .image { flex: 0 0 35%; }
  .text {
    flex: auto;
    padding: 0 0 0 2rem;
  }
  p { color: $text-muted; }
  h2 { font-size: $font-size-large; }
  .field-name--field-products-count {
    color: $text-muted;
    padding-top: 1rem;
  }

  @media #{$pad}   {
    .views-row { flex-basis: 50%; max-width: 50%; }
    .content { padding: 1rem 2rem; }
  }
  @media #{$laptop}   {
    .views-row { flex-basis: 33.3%; max-width: 33.3%; }
    .content { padding: 1rem 4rem; }
    .image { flex: 0 0 40%; }
    .text { padding: 2rem 0 0 2rem; }

    .field-name--field-products-count { padding-top: 4rem; }
  }
}
