@import "variables";                                                            // чтобы переменные не подсвечивались

.node--type-webform {
  padding-bottom: 2rem;
}

.webform-submission-sotrudnichestvo-form {
  .webform-section-wrapper {
    display: flex; flex-wrap: wrap; gap: 0 1rem;
    > div { flex: 1 0 48%; }
  }

  .form-item { margin-top: 0; }
}

.webform-submission-podpisatsya-na-novosti-form {
  .row { padding: 2rem 0; }

  .webform-type-email { margin-top: 0; }
  .form-actions .form-submit { width: 100%; }
  .js-form-item-fz152-agreement { margin-bottom: 0; }

  @media #{$desktop}  {
    .webform-type-email { flex: auto; }
    .text {
      display: flex; flex-wrap: wrap; align-content: center;
      height: 100%;
      > * { flex: 100%; }
    }
    .form-actions .form-submit { width: initial; }
  }
}

.webform-submission-contact-add-form {
  .form-actions .form-submit {
    width: 100%;
    @media #{$desktop}  { width: initial; }
  }

}
