<div class="page--40x">
  <div class="row">
    <div class="col-xs-10 col-md-6">
      <h1>403</h1>
      <h2>Доступ запрещён</h2>
      <p>Вы запросили чужую страницу или не авторизованы на сайте.<br>
        Войдите и попробуйте снова.</p>
      <div class="actions"><a href="/user/login" class="button button--primary">Войти</a><a href="/" class="button button--default button--outline">Вернуться на главную</a></div>
    </div>
    <div class="col-xs-10 col-md-4 col-no-gutter">
      <div class="image">
        <img src="/sites/default/files/images/misc/404.png" alt="Страница не найдена">
      </div>
    </div>
  </div>
</div>
