<div class="page--40x">
  <div class="row">
    <div class="col-xs-10 col-md-6">
      <h1>404</h1>
      <h2>Страница не найдена</h2>
      <p>Запрашиваемая страница не найдена или такой страницы не существует.<br>
        Проверьте правильность набранного адреса</p>
      <div class="actions"><a href="/" class="button button--primary">Вернуться на главную</a></div>
    </div>
    <div class="col-xs-10 col-md-4 col-no-gutter">
      <div class="image">
        <img src="/sites/default/files/images/misc/404.png" alt="Страница не найдена">
      </div>
    </div>
  </div>
</div>
